<header class="bg-gray-900 flex justify-between px-4 py-2 mb-10 rounded-b-md">
  <span class="text-white font-semibold text-2xl pt-1"><a href="/" class="naked-link">BrowserExtension.dev</a></span>
  <nav>
    {%
      set linkList = [
        { "url": "/about" , "text": "About"},
        { "url": "/blog" , "text": "Blog"},
        { "url": "/submit-your-extension" , "text": "Submit"}
      ]
    %}
    {% include "navigation-links.njk" %}
  </nav>
</header>
