<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="BrowserExtension.dev" />
<meta name="twitter:creator" content="@spekulatius1984" />
<meta property="og:url" content="https://browserextension.dev/" />
<meta property="og:title" content="BrowserExtension.dev" />
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}A blog around everything related to browser extensions: discovery, discussion and of course development.{%- endif -%}" />
<meta property="og:image" content='https://browserextension.dev/images/social.png' />
