<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
    {% include "social.njk" %}
    <meta name="monetization" content="$ilp.uphold.com/DrRw6MnEEqBB">
  </head>
  <body class="container mx-auto mb-12 lg:max-w-4xl text-gray-700">
    {% include "header.njk" %}
    <div class="content leading-relaxed">
      {{ content | safe }}
    </div>
    {% set js %}
      {% include "js/main.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
    <script async defer data-website-id="6cf3a752-d550-464a-aaa1-cee06bf54252" src="https://u.peterthaleikis.com/umami.js"></script>
  </body>
</html>
