---
layout: default
pageClass: directory
templateEngineOverride: njk, md
---
<section class="bg-white shadow-md rounded-md px-8 py-6 mb-2">

  <h1 class="heading">{{title}}</h1>

{{header}}

{{content}}

{{footer}}

</section>