      <div class="py-1 flex flex-wrap md:flex-no-wrap border-b-2 border-gray-900 pb-6 mb-6">

        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="tracking-widest font-medium title-font text-gray-900">{{ item.data.type }}</span>
          <span class="mt-1 text-gray-500 text-sm">
            <time value="{{ item.date }}" class="text-gray-600">{{ item.date | readableDate }}</time>
          </span>
        </div>

        <div class="md:flex-grow">
          <a href="{{ item.url }}">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 mt-0">{{ item.data.title }}</h2>
          </a>
          <p class="leading-relaxed">{{ item.templateContent | section | safe }}</p>
          <a href="{{ item.url }}" class="inline-flex items-center mt-4">Continue...
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>

      </div>