---
title: About - BrowserExtension.dev
layout: default
---
<section>
  <h1>What is BrowserExtension.dev?</h1>
  <p>
    BrowserExtension.dev is a personal blog by <a href="https://peterthaleikis.com" target="_blank">Peter Thaleikis</a> and covers everything related to Chrome/browser extensions. You can discover new extensions, discussion and learn about development of webextensions here.
  </p>

  <h2>The BrowserExtension.dev Website</h2>
  <p>
    The website is based on <a href="https://eleventail.netlify.com/" target="_blank">Eleventail</a> by <a href="https://www.hawksworx.com/" target="_blank">Phil Hawksworth</a>. It uses some open source goodness:
  </p>
  <ul>
    <li><a href="https://11ty.dev" target="_blank">Eleventy</a> for site generation</li>
    <li><a href="https://tailwindcss.com" target="_blank">Tailwind CSS</a> for styling</li>
    <li><a href="https://www.purgecss.com/" target="_blank">Purge CSS</a> for stripping unused CSS and minifying the result</li>
    <li><a href="https://www.npmjs.com/package/uglify-js" target="_blank">Uglify JS</a> for basic JavaScript build pipeline</li>
  </ul>

  <h2>Extension Newsletter</h2>
  <p>
    If you are keen to stay updated about interesting extensions, collections and development subscribe to our <a href="/extension-newsletter">extension newsletter</a>.
  </p>

  <h2>Contributions</h2>
  <p>
    Got an interesting topic to cover or simple want to share a tip for a great browser extension? <a href="https://peterthaleikis.com/contact/" target="_blank">Flip me a message</a>.
  </p>
</section>