---
title: Blog - BrowserExtension.dev
layout: default
---

<section>
  <h1 class="heading">Blog</h1>
  <p>
    Discovering new extensions, tricks and tips and interesting libraries for extension development can be found here.
  </p>
  <ul>
  {%- for item in collections.post | reverse -%}
  {% include 'components/post-teaser.njk' %}
  {%- endfor -%}
  </ul>
</section>
