---
title: BrowserExtension.dev
layout: default
---
<div class="flex flex-col md:flex-row mx-3 md:mx-0">
  <div class="w-full md:pr-2 md:w-4/6">

    {# Directory section #}
    <div class="bg-white shadow-md rounded-md px-3 py-2 mb-4">
      <div class="block text-gray-700 text-lg font-semibold py-2 px-2">
        The Newest Extensions
      </div>
      {%- for item in collections.item | reverse -%}
      {% include 'components/directory-teaser.njk' %}
      {%- endfor -%}
    </div>

    {# Blog section #}
    <div class="bg-white shadow-md rounded-md px-3 py-2 mb-4">
      <div class="block text-gray-700 text-lg font-semibold py-2 px-2">
        From the Blog
      </div>
      {%- for item in collections.post | reverse -%}
      {% include 'components/homepage-blog-teaser.njk' %}
      {%- endfor -%}
      More? Subscribe to the <a href="/extension-newsletter">extension newsletter</a>!
    </div>
  </div>

  <div class="w-full md:pl-2 md:w-2/6">
    <div class="bg-white shadow-md rounded-md px-3 py-2 mb-4">
      <div class="block text-gray-700 text-lg font-semibold py-2 px-2">
        Featured Extension
      </div>

      {%- for item in collections.featured | reverse -%}
      {% include 'components/homepage-featured-teaser.njk' %}
      {%- endfor -%}
    </div>
  </div>
</div>
